<div class="container">
  <h1>Seletor de Imagens - TEIA</h1>
  <div class="buttons">
    <button (click)="navigateToRandom()" class="btn">Seleção Aleatória</button>
    <button (click)="navigateToStandard()" class="btn">Seleção Individual</button>
  </div>

  <h2 class="favorite-heading">Imagens Favoritas:</h2>


<!-- Verifica se há imagens favoritas -->
<div *ngIf="favoritedImages.length > 0; else noFavorites">
  <div class="image-container">
    <div class="image-row" *ngFor="let chunk of favoritedImagesChunks">
      <div class="image-item" *ngFor="let image of chunk">
        <img [src]="image.imageUrl" alt="Imagem {{image.id}}">
        <button class="favorite-icon" (click)="downloadImage(image)">
          <i class="fa-regular fa-circle-down"></i>
        </button>
        <div class="image-details">
          <p><b>Título:</b> {{image.title}}</p>
          <p><b>Album ID:</b> {{image.albumId}}</p>
          <p><b>ID:</b> {{image.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mensagem exibida quando não houver imagens favoritas -->
<ng-template #noFavorites>
  <div class="disclaimer">
    <p class="disclaimer-text">Suas imagens favoritas aparecerão aqui!</p>
  </div>
</ng-template>

<div class="clear-favorites-button">
  <button class="btn" (click)="clearFavorites()">Limpar Favoritos</button>
</div>

  <!-- Adição dos botões de paginação -->
  <div class="pagination">
    <button class="btn-paginacao" *ngFor="let page of totalPagesArray()" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
  </div>
</div>
