<div class="container">
  <h1>Imagens TEIA</h1>
  <h2>Selecione a categoria desejada:</h2>
  <div class="buttons">
    <button (click)="navigateToStandard()" class="btn">Seleção padrão</button>
    <button (click)="navigateToRandom()" class="btn">Aleatório</button>
  </div>
  <h2>Favoritas:</h2>

  <!-- Adição dos botões de paginação -->

  <div class="image-container">
    <div class="image-row" *ngFor="let chunk of favoritedImagesChunks">
      <div class="image-item" *ngFor="let image of chunk">
        <img [src]="image.imageUrl" alt="Imagem {{image.id}}">
        <div class="image-details">
          <p>Título: {{image.title}}</p>
          <p>Album ID: {{image.albumId}}</p>
          <p>ID: {{image.id}}</p>
        </div>
        <button class="favorite-icon" (click)="downloadImage(image)">
          <i class="fa-regular fa-circle-down"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button class="btn-paginacao" *ngFor="let page of totalPagesArray()" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
  </div>
</div>
