<div class="container">
  <h1>Seletor de Imagens - TEIA</h1>
  <div class="buttons">
    <button (click)="navigateToRandom()" class="btn">Seleção Aleatória</button>
    <button (click)="navigateToStandard()" class="btn">Seleção Individual</button>
  </div>

  <h2>Imagens Favoritas:</h2>

<!-- Verifica se há imagens favoritas -->
<div *ngIf="favoritedImages.length > 0; else noFavorites">
  <!-- Adição dos botões de paginação -->
  <div class="image-container">
    <div class="image-row" *ngFor="let chunk of favoritedImagesChunks">
      <div class="image-item" *ngFor="let image of chunk">
        <img [src]="image.imageUrl" alt="Imagem {{image.id}}">
        <div class="image-details">
          <p>Título: {{image.title}}</p>
          <p>Album ID: {{image.albumId}}</p>
          <p>ID: {{image.id}}</p>
        </div>
        <button class="favorite-icon" (click)="downloadImage(image)">
          <i class="fa-regular fa-circle-down"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Mensagem exibida quando não houver imagens favoritas -->
<ng-template #noFavorites>
  <div class="disclaimer">
    <p class="disclaimer-text">Selecione as suas imagens favoritas para aparecerem aqui!</p>
  </div>

</ng-template>

  <div class="pagination">
    <button class="btn-paginacao" *ngFor="let page of totalPagesArray()" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
  </div>
</div>
