.container {
  text-align: center;
  margin-top: 50px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-row {
  display: flex;
}

.image-item {
  margin: 10px;
  position: relative;
  width: 250px;
}

.image-item img {
  width: 100%;
  height: auto;
}

.image-details {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

.btn {
  margin: 10px;
}

/* Adicione estilos para o ícone de remoção */
.remove-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.remove-icon i {
  color: #ff0000; /* Cor vermelha */
  font-size: 24px; /* Tamanho do ícone */
}

.favorite-icon {
  margin: 5px;
}
